.body {
    background-color: #0f1416;
    padding: 20px;
    color: #fff;
    /* overflow: hidden; */
}

.anime-recommand-container {
    width: 100%;
    margin-bottom: 20px;
}

.anime-recommand-container .container {
    padding: 0;
}

.anime-recommand-title {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 2.4rem;
}

.scrollToTop {
    background-color: #fff;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #333;
    position: fixed;
    right: 32px;
    bottom: 32px;
    transition: transform 0.1s linear;
}

.scrollToTop:hover {
    transform: scale(1.4, 1.4);
    cursor: pointer;
}

.scrollToTop i {
    
}

.scrollToTop span{
    width: 40px;
    text-align: center;
}

