.header {
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,.6);
    margin-bottom: 12px;
    /* align-items: center; */
}

.header-wrapper {
    display: flex;
    justify-content: space-around;
}

.header_logo {
    width: 10%;
    height: 100%;
    display: inline-block;
    line-height: 60px;
    margin-right: 8px;
}

.header_logo img {
    height: 36px;
    line-height: 60px;
}


.header_nav-link {
    /* width: 54%; */
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

.header_nav-item {
    font-weight: 400; 
    font-size: 1.3rem;
    text-transform: uppercase;
    height: 100%;
    min-width: 60px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    border-bottom: 3px solid transparent;
}

.header_nav-item:hover>a {
    color: #ccc;
}


.header_nav-item:hover .submenu {
    display: flex;
}

.submenu::after {
    content: "";
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #b5e745;
    top: -8px;
    left: 12px;
}

.header_nav-item--active {
    border-bottom: 3px solid #b5e745;
}

.header_nav-item a {
    color: #fff;
}

.submenu-icon {
    color: #b5e745;
    margin-left: 6px;
    cursor: pointer;
}

.submenu {
    position: absolute;
    min-width: 320px;
    flex-wrap: wrap;
    top: 52px;
    left: 0;
    background-color: #fff;
    padding: 0;
    box-shadow: 0 0 4px 2px #555;
    border-top: 3px solid #b5e745;
    display: none;
    text-transform: none;
    z-index: 100;
}

.submenu-item {
    flex: 0 0 33.33%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 12px;
    font-weight: 600;
}

.submenu-item a {
    color: #333;
    font-size: 1.3rem;
    width: 90px;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.submenu-item a:hover {
    color: #7d7d7d;
}

.header-search-wrapper {
    display: flex;
}

.header_search {
    display: flex;
    align-items: center;
    min-width: 200px;
    /* width: 24%; */
    justify-content: flex-start;  
    position: relative;  
    font-size: 1.3rem;
}

.header_search-box {
    width: 100%;
    padding: 8px 16px 8px 40px;
    outline: none;
    background-color: rgba(0,0,0,.6);
    border: 1px solid #263238;
    font-weight: 600;
    color: #fff;
    opacity: 0.5;
}

::placeholder {
    color: #fff;
}

.header_search-box:focus {
    background-color: rgba(0,0,0,.4);
    opacity: 1;
}

.header_search-icon {
    position: absolute;
    /* left: 20%; */
    width: 40px;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    opacity: 0.5;
}

.header_button {
    /* width: 12%; */
    margin-left: 8px;
    min-width: 96px;
    display: flex;
    align-items: center;
}

.header_login-button {
    width: 100%;
    background-color: #b71c1c;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 4px;
    font-size: 1.3rem;
    font-weight: 500;
}

.header_login-button:hover {
    background-color: #263238;
}

.header-menu-mobile-button {
    display: none;
}

/* Responsive */



