.sidebar {
    width: 100%;
    color: #fff;
}

.random-anime-wrapper {
    width: 100%;
    font-weight: 600;
    background-color: #1e2325;
    padding: 12px;
}

.random-anime-title {
    border-bottom: 3px solid #b5e745;
    padding-bottom: 8px;
    margin-top: 8px;
    text-transform: uppercase;
}

.random-anime-wrapper p {
    color: #78909c;
    font-size: 1.3rem;
    margin: 16px 0;
}

.random-anime-button {
    background-color: #e62117;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 1.4rem;
    display: inline-block;
}

.random-anime-button:hover {
    background-color: #263238;
}

.list-anime-new-wrapper {
    width: 100%;
    font-weight: 600;
    background-color: #1e2325;
    padding: 12px;
    margin-top: 12px;
}

.list-anime-new-title {
    border-bottom: 3px solid #b5e745;
    padding-bottom: 8px;
    margin-top: 8px;
    text-transform: uppercase;
}

.list-anime-new {
    padding-left: 0;
    padding-top: 8px;
    font-size: 1.3rem;
}

.list-anime-new-item {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #171516;
    padding-left: 4px;
}

.list-anime-new-item:hover {
    border-left: 5px solid #be3232;
}

.list-anime-new-item:hover .anime-new-title {
    color: #fff;
}

.list-anime-new-link {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
}

.anime-new-title {
    color: #ce9090;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
}

.anime-new-eposide {
    color: #5f5f5f;
    font-style: italic;
}

.list-anime-new-view-more {
    color: #ccc;
    padding-top: 8px;
    margin-left: 4px;
}

.list-anime-new-view-more:hover {
    color: #fff;
}

.anime-rank {
    font-weight: 600;
    background-color: #1e2325;
    padding: 12px;
    margin-top: 12px;
    color: #fff;
}

/* Responsive */ 
@media (max-width: 991px) {
    .sidebar {
        margin-top: 16px;
    }
}
